img {
    width: 30px;
    height: 30px;
}

.navbar {
  background-color: #A8D5BA;
}

body {
  background-image: url('https://i.ibb.co/vkZXf6P/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
  color: #A8D5BA;
  margin-top: 45px;
}

.about-box {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

p {
    color: white;
}

.btn {
  background-color: #F2A541;
}

.btn:hover {
  background-color: #febf6d;
  color: black;
}